

.banner {
  background-image: url(../assets/bannerbackground.png);
  background-size: cover;
  background-position: center;
  margin: 0px;
  min-height: 20em;
  width: 100%;
}

.head {
  padding: 7em 0px;
}

.head p {
  color: white;
  font-weight: 500;
  font-size: 4em;
  margin:0;
}

.warning {
  margin-top: 3em;
  margin-bottom: 2em;

}

.line p {
  display: inline;
}


#typed   {
  margin-bottom: 10px;
}

#typed {
  color: blanchedalmond;
}

.valueprop {
  width: 55%;
}

.valueprop h2, h1 {
  margin: 0px;
  margin-bottom: 0.5em;
  font-weight: 100;
  font-size: 1.6em;
  color : white;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


#inverse {
  color: #0F5B54;
  background-color: white;
}

#inverse:hover {
  background: #1BCB7F;
  color: white;
}

@media (max-width: 70em) {
.valueprop {
  width: 100%;
}
.head {
  padding: 7em 0;
  font-size: 1.4em;
}
}


