.card-project {
  margin: 0 auto;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
}

.modal-container h4, a {
  color: white;
  text-decoration: none;
}

.card-project i {
  font-size:2em;
  margin-top: 2em;
  color:white;
  position: absolute;
  bottom: 1em;
}

#accesmarche {
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/accesmarche.jpg);
}

#orga {
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/teamorganization.jpg);
}

#duedil {
background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/partnership.jpg);
}


.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.title {
  color: #0F5B54;
  font-weight: 500;
}

.field {
  font-style: italic;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 50%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #F5F5F5;
  border-radius: 4px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

.close {
  padding: 0;
  color:black;
  line-height: 25px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  background:none;
  font-weight: bold;
}

.close:hover {
color: #EA4436;
}

@media (max-width: 70em) {
.modal-container h4 {
  font-size: 1.5em;
}
.modalDialog > div {
  font-size:2em;
  width: 75%;
}
}
