
body {
  margin: 0px;
}

h1,h2,h3,h4 {
  font-family: 'Roboto';
}

h3 {
  font-weight: bold;
  font-size: 1em;
  color: #0F5B54;
}

h4 {
  font-weight: bold;
  font-size: 1.5em;
  color: #0F5B54;
}

a, p, li, label {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 1.2em;
  color: #4B4B4B;
}

.threecol {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.fourcol {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.fivecol {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.part {
  background-color:F5F5F5;
  background-size: cover;
  background-position: center;
  margin: 0px;
  width: 100%;
}

.contentbox {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 5em;
}

.contentbox-title {
  color: 0F5B54;
  margin:0em;
  font-weight: 500;
  font-size: 2.5em;
}

.contentbox-subtitle {
  font-weight: 300;
  font-size: 1.4em;
  padding-left: 2em;
  padding-right: 2em;
}

.partwithimage {
  background-size: cover;
  background-position: center;
  object-fit:fill;
  width: 100%;
}

#expertises {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../assets/consultingbcgrnd.jpg);
}

.grey {
  color: F5F5F5;
}

.card {
  background-color: white;
  height: auto;
  padding: 1.5em;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.list {
  text-align: left;
}

.card i {
  font-weight: 500;
  font-size: 4em;
  color: 0F5B54;
}

.card ul {
    padding-inline-start: 1em;
}

.cardsecteur p {
  color: white;
}

.logosecteur {
  font-size:2em;
  color: white;
}

.cardsecteur h4 {
  color: white;
}

.cardsecteur {
  background-color: #0F5B54;
  height: auto;
  padding: 1em;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#secteurs {
  background-color: white;
}

#profil {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(../assets/secteurbackground.jpg);
}

.profilecard {
  background-color: white;
  height: auto;
  margin: 5em auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profilecard-content {
  position: relative;
  top:-5em;
  padding:1em;
}

.profilecard-content ul {
  padding-inline-start: 1.5em;
}

.avatar {
  width: 10em;
  border-radius: 50%;
  position: relative;
  top:-5em;
}

.profilecard-content h3 {
  font-size:2em;
}

.greenback {
  background-color: #0F5B54;
  height: 10em;
  width: 100%;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #0F5B54;
  transition: background 0.3s ease;
  text-decoration: none;
  position: relative;
  top: 2em;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}


@media (max-width: 70em) {
  .threecol {
    grid-template-columns: 1fr;
  }
  .fourcol {
    grid-template-columns: 1fr;
  }

  .fivecol {
    grid-template-columns: 1fr;
  }
  .profilecard {
    width: 100%;
  }
  .navbar {
    display:none;
  }
  body {
    font-size: 1em;
  }
  .banner h1 {
  margin-top: 0em;
}
}

