
.modal-container #modal-duedil {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  vertical-align: middle;
}

.modal-container #modal-duedil:hover ~ button { background: #1E824C; }

.modal-container #modal-duedil:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}

.modal-container #modal-duedil:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal-container #modal-duedil:checked ~ .modal-backdrop .modal-content {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  height: auto;
  padding: 10px 30px;
  position: absolute;
  left: calc(50% - 250px);
  top: 12%;
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

.center {
  padding-top: 35px;
}

@media (max-width: 400px) {

.modal-container #modal-duedil:checked ~ .modal-backdrop .modal-content { left: 0; }
}

.modal-container #modal-duedil:checked ~ .modal-backdrop .modal-content .modal-close {
  color: #666;
  position: absolute;
  right: 2px;
  top: 0;
  padding-top: 7px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 28px;
  text-align: center;
  cursor: pointer;
}

.modal-container #modal-duedil:checked ~ .modal-backdrop .modal-content .modal-close.button {
  top: initial;
  bottom: 20px;
  right: 230px;
  background: #4CAF50;
  color: #fff;
  width: 80px;
  border-radius: 2px;
}

.modal-container #modal-duedil:checked ~ .modal-backdrop .modal-content .modal-close.button:hover {
  color: #fff;
  background: #1E824C;
}

.modal-container #modal-duedil:checked ~ .modal-backdrop .modal-content .modal-close:hover { color: #333; }
