


body {
  margin: 0px;
}


span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

h1,h2,h3 {
  font-family: 'Roboto';
}

a, p, li {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 1.2em;
  color: #4B4B4B;
}

h3 {
  font-weight: bold;
  font-size: 1.2em;
  color: #0F5B54;
}

.navbar {
  text-align: right;
  padding: 1em;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  text-decoration: underline;
}

.nav-link {
  margin-right: 2em;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.banner {
  background-image: url(assets/bannerbackground.png);
  background-size: cover;
  background-position: center;
  margin: 0px;
  min-height: 20em;
  width: 100%;
}

.head {
  padding: 7em 0px;
}

.banner h1 {
  margin-top: 2em;
  margin-bottom: 10px;
  color: white;
  font-weight: 500;
  font-size: 6em;
}

.banner h2 {
  margin: 0px;
  font-weight: 300;
  font-size: 3em;
  color: F5F5F5;
}

.part {
  background-color:F5F5F5;
  background-size: cover;
  background-position: center;
  margin: 0px;
  width: 100%;
}

.contentbox {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 5em;
}

.contentbox-title {
  color: 0F5B54;
  margin:0em;
  font-weight: 500;
  font-size: 3.5em;
}


.contentbox-subtitle {
  font-weight: 300;
  font-size: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.threecol {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.card {
  background-color: white;
  height: auto;
  padding: 1.5em;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card i {
  font-weight: 500;
  font-size: 4em;
  color: 0F5B54;
}

.card ul {
    padding-inline-start: 1em;
}

.partwithimage {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(assets/consultingbcgrnd.jpg);
  background-size: cover;
  background-position: center;
  object-fit:fill;
  width: 100%;
}

.fourcol {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.list {
  text-align: left;
}

.grey {
  color: F5F5F5;
}

.card-project {
  background-size: cover;
  background-position: center;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-project h2 {
font-size: 2em;
}

#accesmarche {
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/accesmarche.jpg);
}

#orga {
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/teamorganization.jpg);
}

#duedil {
background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(assets/partnership.jpg);
}

#references {
  background-color: white;
}

.refs {
  width: 100%;
  margin: 0px auto;
}

.avatar {
  width: 10em;
  border-radius: 50%;
  position: relative;
  top:-5em;
}

.profilecard {
  background-color: white;
  height: auto;
  margin: 5em auto;
  width: 65%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profilecard-content {
  position: relative;
  top:-5em;
  padding:1em;
}

.profilecard-content ul {
  padding-inline-start: 1.5em;
}


.profilecard-content h3 {
  font-size:2em;
}

.greenback {
  background-color: 35975E;
  height: 10em;
  width: 100%;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: 35975E;
  transition: background 0.3s ease;
  text-decoration: none;
  position: relative;
  top: 2em;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

@media (max-width: 70em) {
  .threecol {
    grid-template-columns: 1fr;
  }
  .fourcol {
    grid-template-columns: 1fr;
  }
  .profilecard {
    width: 100%;
  }
  .navbar {
    display:none;
  }
  body {
    font-size: 1.8em;
  }
  .banner h1 {
  margin-top: 0em;
}
}

